<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add a New Rabbit</title>
  </head>
  <body>
    <h2>Add a New Rabbit:</h2>
    <form action="/rabbits" method="post">
      Name: <input type='text' name="name">
      Age: <input type='text' name='age'>
      Submit: <input type='submit' name="submit">
    </form>
    <br>
    <a href="/">Home</a>
  </body>
</html>
