<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rabbit Dashboard</title>
  </head>
  <body>
    <h2>Meet <%= rabbit.name %>!</h2>
    <div id="input">
        <p>Name: <%= rabbit.name %>, age: <%= rabbit.age %></p>
        <br>
        <a href="/">Home<a>
    </div>
  </body>
</html>
